@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
  --body-color: #e4e9f7;
  --nav-color: #2fade3;
  --side-nav: #2fade3;
  --text-color: #fff;
  --search-bar: #f2f2f2;
  --search-text: #010718;
  --p-color: #010718;
  --tittle: #152a47;
}

body {
  height: 100vh;
  background-color: var(--body-color);
}

body.dark {
  --body-color: #18191a;
  --nav-color: #242526;
  --side-nav: #242526;
  --text-color: #ccc;
  --search-bar: #242526;
  --p-color: #fafafa;
  --tittle: #2fade3;
}
nav {
  top: 0;
  left: 0;
  height: 70px;
  width: 100%;
  background-color: var(--nav-color);
  z-index: 100;
}

nav .nav-bar {
  position: relative;
  height: 100%;
  max-width: 1100px;
  width: 100%;
  background-color: var(--nav-color);
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

nav .nav-bar .sidebarOpen {
  color: var(--text-color);
  font-size: 25px;
  padding: 5px;
  cursor: pointer;
  display: none;
}

nav .nav-bar .logo a {
  font-size: 25px;
  font-weight: 500;
  color: var(--text-color);
  text-decoration: none;
}

.menu .logo-toggle {
  display: none;
}

.nav-bar .nav-links {
  display: flex;
  align-items: center;
}

.nav-bar .nav-links li {
  list-style: none;
}

.nav-links li a {
  position: relative;
  font-size: 17px;
  font-weight: 500;
  color: var(--text-color);
  text-decoration: none;
  padding: 10px;
}

.nav-links li a::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  transform: translateX(-50%);
  height: 6px;
  width: 6px;
  border-radius: 50%;
  background-color: var(--text-color);
  opacity: 0;
  transition: all 0.3s ease;
}

.nav-links li:hover a::before {
  opacity: 1;
}

.nav-bar .darkLight-searchBox {
  display: flex;
  align-items: center;
}

#btnAumentar {
  margin-right: 10px;
}

#btnDiminuir {
  margin-right: 10px;
}

.darkLight-searchBox .dark-light,
.darkLight-searchBox .searchToggle {
  height: 40px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 5px;
}

.dark-light i,
.searchToggle i {
  position: absolute;
  color: var(--text-color);
  font-size: 22px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.dark-light i.sun {
  opacity: 0;
  pointer-events: none;
}

.dark-light.active i.sun {
  opacity: 1;
  pointer-events: auto;
}

.dark-light.active i.moon {
  opacity: 0;
  pointer-events: none;
}

.searchToggle i.cancel {
  opacity: 0;
  pointer-events: none;
}

.searchToggle.active i.cancel {
  opacity: 1;
  pointer-events: auto;
}

.searchToggle.active i.search {
  opacity: 0;
  pointer-events: none;
}

.searchBox {
  position: relative;
}

.searchBox .search-field {
  position: absolute;
  bottom: -85px;
  right: 5px;
  height: 50px;
  width: 300px;
  display: flex;
  align-items: center;
  background-color: var(--nav-color);
  padding: 3px;
  border-radius: 6px;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
  opacity: 0;
  pointer-events: none;
  transition: all 0.3 ease;
}

.searchToggle.active ~ .search-field {
  bottom: -74px;
  opacity: 1;
  pointer-events: auto;
}

.searchToggle i {
  display: none;
}

.search-field::before {
  content: "";
  position: absolute;
  right: 14px;
  top: -4px;
  height: 12px;
  width: 12px;
  background-color: var(--nav-color);
  transform: rotate(-45deg);
  z-index: -1;
}

.search-field input {
  height: 100%;
  width: 100%;
  padding: 0 45px 0 15px;
  outline: none;
  border: none;
  border-radius: 4px;
  font-size: 14px;
  font-weight: 400;
  color: var(--search-text);
  background-color: var(--search-bar);
}

body.dark .search-field input {
  color: var(--text-color);
}

.search-field i {
  position: absolute;
  color: var(--nav-color);
  right: 15px;
  font-size: 22px;
  cursor: pointer;
}

body.dark .search-field i {
  color: var(--text-color);
}

@media (max-width: 1100px) {
  nav .nav-bar .sidebarOpen {
    display: block;
  }

  .menu {
    position: fixed;
    height: 100%;
    width: 320px;
    left: -100%;
    top: 0;
    padding: 20px;
    background-color: var(--side-nav);
    z-index: 100;
    transition: all 0.4s ease;
  }

  nav.active .menu {
    left: -0%;
  }

  nav.active .nav-bar .navLogo a {
    opacity: 0;
    transition: all 0.3s ease;
  }

  .menu .logo-toggle {
    display: block;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .logo-toggle .siderbarClose {
    color: var(--text-color);
    font-size: 24px;
    cursor: pointer;
  }

  .nav-bar .nav-links {
    flex-direction: column;
    padding-top: 60px;
  }

  .nav-links li a {
    display: block;
    margin-top: 20px;
  }
}
/* BARRA DE NAVEGAÇÃO */

.container {
  display: flex;
  width: 100%;
  justify-content: center;
  justify-items: center;
  flex-wrap: wrap;
}

.consultarN-header {
  width: 45%;
}

.consultarN-header img {
  width: 475px;
  height: 442px;
  margin-top: 20px;
}

.consultarN-header-text {
  text-align: center;
  margin-top: 75px;
  font-size: 36px;
  line-height: 1.4em;
  font-weight: 600;
  color: var(--tittle);
  width: 50%;
  padding-left: 60px;
}

.linha {
  margin-left: 75px;
  border: 2px solid #2fade3;
  width: 20%;
}

.legenda-consultarN {
  margin-top: 40px;
  padding-left: 75px;
  font-size: 25px;
  font-weight: 300;
}

.legenda-consultarN-sub {
  margin-top: 50px;
  padding-left: 75px;
  font-size: 25px;
  font-weight: 300;
  width: 60%;
  color: var(--p-color);
}

.como-funciona {
  width: 100%;
  display: flex;
  justify-content: center;
  justify-items: center;
  margin-top: 50px;
}

.como-funciona-tittle {
  width: 85%;
}

.como-funciona-text {
  font-size: 26px;
  font-weight: 600;
  color: var(--tittle);
}

.linha-como-funciona {
  border: 2px solid #2fade3;
  width: 5%;
}
.imagem-texto {
  width: 100%;
  display: flex;
  margin-top: 20px;
  justify-content: center;
}

.caixa-texto-imagem {
  width: 80%;
  display: flex;
}

.imagem-como-funciona img {
  width: 354.95px;
  height: 434.95px;
  margin-left: 150px;
}

.texto-como-funciona p {
  font-size: 18px;
  text-align: center;
  padding: 10px;
  width: 50%;
  margin-left: 200px;
  color: var(--p-color);
}

.sms-texto-meio {
  width: 100%;
  display: flex;
  justify-content: center;
  margin-top: 80px;
}

.texto-meio p {
  font-size: 28px;
  font-weight: 600;
  text-align: center;
  color: var(--p-color);
}

.porcentagem-e-textos {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  margin-top: 100px;
}

.caixa {
  width: 80%;
  display: flex;
  justify-content: space-around;
}

.texto p {
  text-align: center;
  font-size: 20px;
  width: 240px;
  height: 90px;
  color: var(--p-color);
}

.porcentagem p {
  font-size: 60px;
  color: #2fade3;
  text-align: center;
}

.beneficios {
  width: 100%;
  display: flex;
  justify-content: center;
  justify-items: center;
  margin-top: 50px;
}

.beneficios-tittle {
  width: 85%;
}

.beneficios-text {
  font-size: 26px;
  font-weight: 600;
  color: var(--tittle);
}

.linha-beneficios {
  border: 2px solid #2fade3;
  width: 5%;
}

.legenda-beneficios {
  width: 100%;
  display: flex;
  justify-content: right;
}

.caixa-beneficios {
  width: 92%;
}

.caixa-beneficios p {
  margin-top: 10px;
  font-size: 18px;
  color: var(--p-color);
}

.caixa-beneficios i {
  margin-right: 5px;
}

.usuario {
  position: relative;
  font-size: 17px;
  font-weight: 500;
  color: var(--text-color);
  text-decoration: none;
  padding: 10px;
  cursor: pointer;
}

.deslogar {
  position: relative;
  font-size: 17px;
  font-weight: 500;
  color: var(--text-color);
  text-decoration: none;
  padding: 10px;
  cursor: pointer;
  display: none;
}

.deslogar.ativo {
  display: block;
}

.footer-text {
  text-align: center;
  margin: 100px;
  font-weight: 600;
  color: var(--p-color);
}

.footer {
  position: relative;
  width: 100%;
  background: #3586ff;
  min-height: 100px;
  padding: 20px 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.footerdiv {
  display: flex;
  min-height: 50vh;
  justify-content: flex-end;
  align-items: flex-end;
}

.social-icon,
.menu-footer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 10px 0;
  flex-wrap: wrap;
}

.social-icon__item,
.menu__item {
  list-style: none;
}

.social-icon__link {
  font-size: 2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
}
.social-icon__link:hover {
  transform: translateY(-10px);
}

.menu__link {
  font-size: 1.2rem;
  color: #fff;
  margin: 0 10px;
  display: inline-block;
  transition: 0.5s;
  text-decoration: none;
  opacity: 0.75;
  font-weight: 300;
}

.menu__link:hover {
  opacity: 1;
}

.footer p {
  color: #fff;
  margin: 15px 0 10px 0;
  font-size: 1rem;
  font-weight: 300;
}

.wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url("https://i.ibb.co/wQZVxxk/wave.png");
  background-size: 1000px 100px;
}

.wave#wave1 {
  z-index: 1000;
  opacity: 1;
  bottom: 0;
  animation: animateWaves 4s linear infinite;
}

.wave#wave2 {
  z-index: 999;
  opacity: 0.5;
  bottom: 10px;
  animation: animate 4s linear infinite !important;
}

.wave#wave3 {
  z-index: 1000;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWaves 3s linear infinite;
}

.wave#wave4 {
  z-index: 999;
  opacity: 0.7;
  bottom: 20px;
  animation: animate 3s linear infinite;
}

@keyframes animateWaves {
  0% {
    background-position-x: 1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

@keyframes animate {
  0% {
    background-position-x: -1000px;
  }
  100% {
    background-positon-x: 0px;
  }
}

@media (max-width: 1024px) {
  .caixa-texto-imagem {
    flex-direction: column;
  }

  .texto-como-funciona p {
    margin-left: 0px;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .legenda-consultarN-sub {
    width: 100%;
  }

  .consultarN-header img {
    margin: 0;
    width: 383px;
  }

  .caixa-texto-imagem {
    flex-direction: column;
  }

  .caixa {
    flex-wrap: wrap;
    width: 85%;
  }

  .texto-como-funciona p {
    margin-left: 0px;
    width: 100%;
  }
}

@media (max-width: 425px) {
  .container {
    flex-direction: column;
  }

  .legenda-consultarN-sub {
    width: 280px;
  }

  .consultarN-header img {
    width: 300px;
  }

  .caixa-texto-imagem {
    width: 100%;
  }

  .imagem-como-funciona img {
    width: 320px;
    margin: 0;
    padding: 0;
  }

  .texto-como-funciona {
    width: 100%;
  }
  .texto-como-funciona p {
    margin-left: 0px;
    width: 100%;
  }

  .footer-text {
    text-align: center;

    font-weight: 600;
    color: var(--p-color);
    margin: 100px 0px 0px 0px;
  }

  .footerdiv {
    margin-top: 100px;
  }
}
